.DS_Store

indent.log

# LaTeX auxiliary files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.toc
*.synctex.gz
main-blx.bib
*.xml
*.bcf

# LaTeX output files
*.pdf

# EPS converted files
*-eps-converted-to.pdf
